/* fonts */

@font-face {
	font-family: "GeometriaRegular";
	src: url("../fonts/GeometriaRegular.eot");
	src:
	     url("../fonts/GeometriaRegular.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/GeometriaRegular.woff") format("woff"),
	     url("../fonts/GeometriaRegular.ttf") format("truetype"),
	     url("../fonts/GeometriaRegular.svg#GeometriaRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GeometriaMedium";
	src: url("../fonts/GeometriaMedium.eot");
	src:
	     url("../fonts/GeometriaMedium.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/GeometriaMedium.woff") format("woff"),
	     url("../fonts/GeometriaMedium.ttf") format("truetype"),
	     url("../fonts/GeometriaMedium.svg#GeometriaMedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* body */

body {
	background: #FFF100;
	font-family: "GeometriaMedium";
	font-size: 10px;
	line-height: 12px;
	color: #000;
}

#wrapper {
	margin: 60px auto;
	width: 1000px;	
}

.clear {
	clear: both;
}

/* header */

header {
	margin: 0 auto;
	width: 960px;
	height: 62px;
}

header .panel_version {
	float: left;
	font-size: 12px;
}

header a {
	display: block;
	float: right;
	font-family: 'GeometriaRegular';
	font-size: 12px;
	color: #000;
	text-decoration: underline;
}

header a:hover {
	text-decoration: none;	
}

/* main */

#main {
	margin: 0 auto;
	width: 960px;
	position: relative;
}

.logo {
	width: 58px;
	height: 48px;
	-webkit-border-radius: 8px 0 0 0;
	-moz-border-radius: 8px 0 0 0;
	border-radius: 8px 0 0 0;
	background: url(../icons/logo.png) center no-repeat #AB1698;
	position: absolute;
	top: 0;
	left: 0;
}

/* navigation */

nav {
	width: 58px;
	height: calc(100% - 48px);
	-webkit-border-radius: 0 0 0 8px;
	-moz-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
	background: #000;
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 999;
}

nav > ul > li {
	height: 48px;
	border-bottom: 1px solid #676767;
	cursor: pointer;
	position: relative;
}

nav > ul > li:hover {
	background: #3C3C3C;
}

nav > ul > li.active {
	background: #AB1698;
}

nav > ul > li span {
	display: block;
	height: 48px;
}

nav > ul > li:nth-child(1) span {
	background: url(../icons/nav__item1.png) center no-repeat;	
}

nav > ul > li:nth-child(2) span {
	background: url(../icons/nav__item2.png) center no-repeat;	
}

nav > ul > li:nth-child(3) span {
	background: url(../icons/nav__item3.png) center no-repeat;	
}

nav > ul > li:nth-child(4) span {
	background: url(../icons/nav__item4.png) center no-repeat;	
}

nav > ul > li:nth-child(5) span {
	background: url(../icons/nav__item5.png) center no-repeat;	
}

nav > ul > li:nth-child(6) span {
	background: url(../icons/nav__item6.png) center no-repeat;	
}

nav li ul {
	display: none;
	border-left: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 58px;
}

nav li:hover ul {
	display: block;	
}

nav a {
	display: block;
	padding: 0 22px;
	height: 48px;
	border-bottom: 1px solid #fff;
	background: #D5D5D5;
	font-family: 'Geometria';
	font-size: 10px;
	line-height: 48px;
	letter-spacing: 1.8px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

nav > ul > li ul li:last-child a {
	border: none;	
}

nav a:hover {
	background: #FFF100;
}

/* form */

.form {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 0 58px;
	padding: 47px 35px 50px 35px;
	min-height: calc(100vh - 182px);
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	background: #fff;
}

/* section */

.section {
	padding: 35px 0;
	border-bottom: 1px dashed #999;
}

.section.border_top {
	border-top: 1px dashed #999;
}

.section.reduced_padding_bottom {
	padding: 35px 0 27px 0;	
}

@media only screen and (max-height: 600px) {
	
	.form {
		min-height: 420px;
	}
	
}

/* text */

h1 {
	margin: 0 0 31px 0;
	font-size: 18px;
	line-height: 18px;
}

h2 {
	margin: 0 0 25px 0;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

p {
	margin: 0 0 15px 0;
}

.section.routs p {
	margin: 0 0 8px 0;	
}

.bright_dark_rows .row p {
	margin: 0;
	line-height: 18px;	
}

/* forms */

input[type="text"], 
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	padding: 0 8px;
	width: 100%;
	height: 24px;
	border: 1px solid #000;
	background: #fff;
	outline: none;
	font-family: "GeometriaRegular";
	font-size: 10px;
	color: #000;
	resize: none;
}

textarea {
	padding: 7px 10px;
	height: 95px;
}

input[type="checkbox"] {
	display: none;	
}

label.checkbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}

label.checkbox:before {
	display: block;
	content: "";
	background: url(../icons/tick.png) center no-repeat;
	opacity: 0;
}

label.big_checkbox {
	width: 24px;
	height: 24px;
}

label.big_checkbox:before {
	width: 22px;
	height: 22px;
}

label.small_checkbox {
	width: 18px;
	height: 18px;
}

label.small_checkbox:before {
	width: 16px;
	height: 16px;
	background-size: 10px 8px;
}

input[type="checkbox"]:checked + label:before {
	opacity: 1;	
}

.save_button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 35px 0 0 0;
	padding: 1px 0 0 0;
	width: 120px;
	height: 24px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #FFF100;
	outline: none;
	font-family: "GeometriaMedium";
	font-size: 10px;
	letter-spacing: 1.8px;
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.5);
	box-shadow: 2px 2px 0 0 rgba(0,0,0,0.5);
}

.transparent_button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 0 8px 0 0;
	width: 72px;
	height: 18px;
	border: 1px solid #AB1698;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	line-height: 16px;
	text-align: center;
}

.purple_button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 0 8px 0 0;
	padding: 0 8px 2px 8px;
	height: 24px;
	border: none;
	background: #AB1698;
	outline: none;
	font-family: "GeometriaMedium";
	font-size: 10px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

.choose_from_list .purple_button {
	margin: 27px 0 0 12px;
}

/* cross */

.cross {
	width: 7px;
	height: 7px;
	background: url(../icons/select_cross.png) center no-repeat;
	cursor: pointer;
}

.column .cross {
	margin: 8px 0 0 2px;
}

/* select button */

.select_button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 24px;
	border: 1px solid #000;
	position: relative;
	cursor: pointer;
}

.select_button .text {
	padding: 0 44px 0 10px;
	height: 22px;
	font-family: "GeometriaRegular";
	font-size: 10px;
	line-height: 23px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.select_button .file {
	width: 24px;
	height: 24px;
	background: url(../icons/select_file.png) center no-repeat #000;
	position: absolute;
	top: -1px;
	right: -1px;
}
.select_button .arrow {
	width: 24px;
	height: 24px;
	background: url(../icons/select_arrow.png) center no-repeat #000;
	position: absolute;
	top: -1px;
	right: -1px;
}

.select_button .cross {
	position: absolute;
	top: 50%;
	margin-top: -3.5px;
	right: 30px;
}

.cities_on_main .select_button {
	float: left;
	margin: 0 8px 8px 0;
	width: 145px;
}

.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}

.jq-selectbox__select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 24px;
	padding: 0 33px 0 10px;
	border: 1px solid #000;
	background: #fff;
	font-family: "GeometriaRegular";
	font-size: 10px;
	line-height: 23px;
}

.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.jq-selectbox__trigger {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 24px;
	height: 24px;
	background: url(../icons/select_arrow.png) center no-repeat #000;
}

.jq-selectbox__dropdown {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0 0;
	padding: 0;
	border: 1px solid #000;
	background: #FFF;
}

.jq-selectbox ul {
	margin: 0;
	padding: 0;
}

.jq-selectbox li {
	height: 22px;
	padding: 0 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	font-family: "GeometriaRegular";
	font-size: 10px;
	line-height: 22px;
}

.jq-selectbox li.selected {
	background-color: #000;
	color: #FFF;
}

.jq-selectbox li:hover {
	background-color: #3C3C3C;
	color: #FFF;
}

/* columns */

.column {
	float: left;
	position: relative;
}

.column.datepicker .select_button {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;	
}

.column.time_of_transfer {
	margin: 0 95px 0 0;
}

.column.time_of_transfer .column {
	margin: 0 8px 0 0;
	width: 96px;
}

.column.time_of_transfer .column:last-child {
	margin: 0;	
}

.column.transfer_and_docking .column {
	margin: 0 8px 0 0;
	width: 145px;
}

.section.carriers .column {
	margin: 0 8px 0 0;
	width: 145px;
}

.section.reference_currency .column {
	margin: 0 8px 0 0;
	width: 145px;
}

.section.reference_currency .column input {
	margin: 0 0 8px 0;	
}

.section.choose_from_list .column {
	margin: 0 8px 0 0;	
}

.section.choose_from_list .select_button {
	width: 145px;	
}

.section.choose_from_list .jq-selectbox__select {
	width: 145px;	
}

.section.list_of_cities .column, 
.section.list_of_countries .column {
	margin: 0 8px 0 0;
	width: 105px;	
}

.section .form_row .column input, 
.section .form_row .column input {
	margin: 0 0 8px 0;	
}

.section.list_of_cities .jq-selectbox__select, 
.section.list_of_countries .jq-selectbox__select {
	width: 105px;	
}

.list_of_stations .jq-selectbox__select {
	width: 120px;	
}

.section_head .column, 
.list_of_stations .column {
	margin: 0 8px 0 0;
	width: 50px;
}

.section_head .column:nth-child(1), 
.section_head .column:nth-child(2), 
.list_of_stations .column:nth-child(1),
.list_of_stations .column:nth-child(2) {
	width: 120px;	
}

.section_head .column:nth-child(1) p,
.section_head .column:nth-child(2) p {
	margin: 12px 0 0 0;
}

.section .list_of_stations {
	margin: 35px 0 0 0;	
}

.section .list_of_stations:first-child {
	margin: 0;	
}

.section.list_of_carriers .column {
	margin: 0 8px 0 0;
	width: 150px;	
}

.section.list_of_carriers .row .column:nth-child(6) {
	width: auto;	
}

.section.list_of_transport .column {
	margin: 0 8px 0 0;	
}

.section.list_of_transport .row .column:nth-child(1) {
	width: 150px;	
}

.section.list_of_transport .row .column:nth-child(2) {
	width: 240px;	
}

.section.list_of_rout_points .column {
	margin: 0 8px 30px 0;
	width: 200px;	
}

.section.list_of_rout_points .add_more_button, 
.list_of_rout_points_two .add_more_button {
	margin: 0;	
}

.bright_dark_rows {
	position: relative;
	width: 840px;
	margin: 32px 0 0 -8px;	
}

.list_of_manually_routes, 
.list_of_paid_users, 
.list_of_created_users, 
.list_of_registered_users {
	padding: 0 0 35px 0;
	border-bottom: 1px dashed #999;
}

.list_of_routes .row .column:nth-child(1) {
	width: 170px;	
}

.list_of_routes .row .column:nth-child(2) {
	width: 170px;	
}

.bright_dark_rows .row {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 0 3px 8px;
	height: 24px;
	font-family: "GeometriaRegular";
}

.bright_dark_rows .row:nth-child(2n) {
	background: #EBEBEB;
}

.bright_dark_rows .row:first-child {
	font-family: "GeometriaMedium";
}

.bright_dark_rows .row a {
	color: #AB1698;
	text-decoration: none;	
}

.list_of_manually_routes .row .column {
	width: 140px;
}

.list_of_manually_routes .row .column:nth-child(5) {
	width: 104px;
}

.list_of_manually_routes .row .column:nth-child(6) {
	float: right;
	width: 160px;
}


.flight > .column {
	margin: 0 15px 0 0;
}

.flight > .column:nth-child(1) .column {
	margin: 0 8px 0 0;	
}

.flight > .column:nth-child(1) .column:last-child {
	margin: 0;	
}

.flight > .column:nth-child(1) span {
	display: block;
	padding: 5px 0 0 0;
	width: 24px;
	font-family: "GeometriaRegular";
	text-align: center;
	text-transform: uppercase;
}

.flight > .column:nth-child(2) input, 
.flight > .column:nth-child(3) input {
	float: left;
	width: 36px;	
}

.flight > .column .separator {
	float: left;
	width: 10px;
	height: 24px;
	line-height: 24px;
	text-align: center;	
}

.flight > .column:nth-child(4) .jq-selectbox__select, 
.flight > .column:nth-child(4) input {
	width: 92px;	
}

.flight > .column:nth-child(5) input {
	float: left;
	margin: 0;
	width: 50px;		
}
.flight > .column.travel-time input{
	width: 68px;
}
.flight > .column.cost-flight input{
	width: 50px;
	margin: 0 20px 0 0;
	float: left;
}
.flight > .column:nth-child(5) .jq-selectbox__select {
	width: 85px;	
}

.control_flight .add_more_button {
	float: none;
	margin: 0 0 15px 0;	
}

.control_flight .add_more_button:last-child {
	margin: 0;
}

.add_user {
	padding: 35px 0 0 0;
	border-top: 1px dashed #999;
}

.add_user .column {
	margin: 0 8px 0 0;	
}

.add_user .column:nth-child(1) {
	width: 150px;
}

.add_user .column:nth-child(2) {
	width: 180px;
}

.add_user .column:nth-child(3) .jq-selectbox__select {
	width: 150px;
}

.add_user .column:nth-child(4) {
	margin: 27px 0 0 0;	
}

.date_range input[type="text"] {
	float: left;
	margin: 0 8px 0 0;
	width: 40px;
}

.date_range .jq-selectbox {
	float: left;
	margin: 0 8px 0 0;
}

.date_range .jq-selectbox__select {
	width: 110px;	
}

.date_range .purple_button {
	margin: 0 0 0 12px;	
}

.date_range .hyphen {
	float: left;
	margin: 0 8px 0 0;
	line-height: 24px;	
}

.list_of_paid_users .row .column:nth-child(1) {
	width: 150px;
}

.list_of_paid_users .row .column:nth-child(2), 
.list_of_created_users .row .column:nth-child(3) {
	width: 185px;
}

.list_of_paid_users .row .column:nth-child(3), 
.list_of_created_users .row .column:nth-child(4) {
	width: 60px;
}

.list_of_paid_users .row .column:nth-child(4), 
.list_of_created_users .row .column:nth-child(5) {
	width: 140px;
}

.list_of_paid_users .row .column:nth-child(5), 
.list_of_created_users .row .column:nth-child(6) {
	width: 90px;
}

.list_of_paid_users .row .column:nth-child(6), 
.list_of_created_users .row .column:nth-child(7) {
	width: 120px;
}

.list_of_paid_users .row .column input, 
.list_of_created_users .row .column input {
	width: 50px;
	height: 18px;
}

.list_of_paid_users .row .column:nth-child(7), 
.list_of_created_users .row .column:nth-child(8) {
	float: right;
	margin: 0 8px 0 0;
	width: 72px;
}

.list_of_paid_users .jq-selectbox__select, 
.list_of_created_users .jq-selectbox__select, 
.list_of_registered_users .jq-selectbox__select {
	padding: 0 27px 0 10px;
	width: 120px;
	height: 18px;
	line-height: 16px;	
}

.list_of_paid_users .jq-selectbox__trigger, 
.list_of_created_users .jq-selectbox__trigger, 
.list_of_registered_users .jq-selectbox__trigger {
	width: 18px;
	height: 18px;
}

.list_of_paid_users .jq-selectbox li, 
.list_of_created_users .jq-selectbox li, 
.list_of_registered_users .jq-selectbox li {
	height: 16px;
	line-height: 16px;
}

.list_of_created_users .row .column:nth-child(1), 
.list_of_registered_users .row .column:nth-child(1) {
	width: 35px;	
}

.list_of_created_users .row .column:nth-child(2) {
	width: 115px;	
}

.list_of_created_users .purple_button_one {
	margin: 25px 8px 0 0;	
}

.list_of_created_users .purple_button {
	margin: 25px 8px 0 8px;	
}

.list_of_registered_users .row .column:nth-child(2) {
	width: 225px;	
}

.list_of_registered_users .row .column:nth-child(3) {
	width: 220px;
}

.list_of_registered_users .row .column:nth-child(4) {
    width: 128px;
    display: inline-block;
}
.list_of_registered_users .row .column:nth-child(5) {
	width: 96px;
    padding: 0 5px;	
    display: inline-block;
}
.list_of_registered_users .row .column input{
    width: 50px;
    height: 18px;
}

.list_of_registered_users .row .column:nth-child(6) {
	float: right;
	width: 103px;	
}

.list_of_registered_users .purple_button {
	margin: 25px 8px 0 8px;	
}

.parser_one .column {
	margin: 0 8px 0 0;
	width: 240px;	
}

.parser_one .column.column_three,
.parser_one .column.column_eight {
	width: 96px;	
}

.parser_one .column.four_in_row {
    width: 192px;    
}



.parser_one .column.column_four,
.parser_one .column.column_five, 
.parser_one .column.column_six, 
.parser_one .column.column_seven,
.parser_one .column.column_eight{
	margin: 20px 8px 0 0;	
}

.parser_one .column.column_seven {
	width: auto;	
}

.parser_one .column.column_seven textarea {
	width: 240px;	
}

.parser_two_three .row_two p {
    margin-top: 10px;
}

.parser_two_three .column {
	width: 145px;
	margin: 0 8px 0 0;
}

.parser_two_three .column_three {
	width: 240px;	
}

.parser_two_three .column_three p {
	margin: 12px 0 15px 0;	
}

.parser_four .column {
	width: 240px;	
}

.parser_five .column_one {
	margin: 0 20px 0 0;
	width: 488px;	
}

.parser_five .column_one .column {
	width: 240px;	
}

.parser_five .column_one .column:first-child {
	margin: 0 8px 0 0;	
}

.parser_five .column_one .column:nth-child(3) {
	margin: 20px 8px 0 0;	
}

.parser_five .column_one .column:nth-child(4) {
	margin: 20px 0 0 0;	
}

.parser_five .column_two {
	width: 240px;
}

.directory .row .column:nth-child(1), 
.directory .row .column:nth-child(2) {
	width: 145px;
	margin: 0 8px 0 0;	
}

.directory_five .row .column:nth-child(3) {
	width: 140px;
	margin: 0 8px 0 0;	
}

.directory_five .row .column:nth-child(3) input {
	float: left;
	width: 50px;
	margin: 0 8px 0 0;	
}

.directory_five .row .column:nth-child(3) .jq-selectbox {
	float: left;
}

.directory_five .row .column:nth-child(3) .jq-selectbox__select {
	width: 82px;
	margin: 0;
}

.directory_five .row .column:nth-child(4), 
.directory_five .row .column:nth-child(5) {
	width: 50px;
	margin: 0 8px 0 0;
}

.directory_five .row .column:nth-child(6) {
	width: 110px;	
}

.directory_four .row .column:nth-child(1) p, 
.directory_four .row .column:nth-child(2) p, 
.directory_four .row .column:nth-child(3) p, 
.directory_four .row .column:nth-child(4) p, 
.directory_five .row .column:nth-child(1) p, 
.directory_five .row .column:nth-child(2) p, 
.directory_five .row .column:nth-child(3) p {
	padding: 12px 0 0 0;
}

.directory_one .row .column:nth-child(3), 
.directory_three .row .column:nth-child(3), 
.directory_four .row .column:nth-child(3), 
.directory_one .row .column:nth-child(4),
.directory_three .row .column:nth-child(4), 
.directory_four .row .column:nth-child(4), 
/*.directory_one .row .column:nth-child(5),*/ 
.directory_four .row .column:nth-child(5) {
	width: 120px;
	margin: 0 8px 0 0;
}

.directory_one .row .column:nth-child(5), .directory_one .row .column:nth-child(6){
	width: 50px;
	margin: 0 8px 0 0;
}

.parser_gflights .row .column:nth-child(5), .parser_gflights .row .column:nth-child(5) .jq-selectbox{
    width: 125px;
}

.directory .update {
	float: right;
	padding: 1px 0 0 0;	
}

.directory .update p {
	margin: 0;
	font-size: 8px;
	line-height: 10px;
	text-align: right;
}

.directory_three .jq-selectbox__select {
	width: 120px;	
}

/* add more */

.add_more_button {
	float: left;
	margin: 8px 0 0 0;
	font-size: 10px;
	color: #AB1798;
	cursor: pointer;
}

.add_more_button .add_more {
	margin: 0;	
}

.add_more_button span {
	border-bottom: 1px dashed #AB1798;
}

.add_more_button:hover span {
	border: none;	
}

/* pages navigation */

.pages_navigation {
	float: right;
	margin: 25px 0 0 0;
	/* height: 24px; */
	font-size: 10px;
	line-height: 24px;
}

.pages_navigation span {
	padding: 0 3px 0 0;	
}

.pages_navigation a {
	display: inline-block;
	/* margin: 0 0 0 2px; */
    margin: 4px 0 0 2px;
	width: 22px;
	height: 22px;
	border: 1px solid #000;
	font-family: "GeometriaRegular";
	line-height: 22px;
	text-align: center;
	color: #000;
	text-decoration: none;
}

.pages_navigation a.active {
	background: #FFF100;
}

/* window */

#window, 
#window2 {
	border: 1px solid #B3A900;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
}

.window_item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 318px;
	height: 386px;
	position: relative;
}

.window_item.cities_list, 
.window_item.stations_list {
	border-left: 1px solid #B3A900;
}

.window_item.cities_list:before, 
.window_item.stations_list:before {
	display: block;
	content: "";
	width: 13px;
	height: 25px;
	background: url(../icons/window_arrow.png) center no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: -1px;
}

.window_item h3 {
	padding: 30px 35px 25px 35px;
	font-size: 12px;
	letter-spacing: 1.8px;
	text-transform: uppercase;	
}

.scrolling_box {
	margin: 0 0 0 25px;
	width: 255px;
	height: 290px;
	outline: none;
}

.scrolling_box ul {
	outline: none;	
}

.cities_list ul, 
.stations_list ul {
	display: none;
}

.scrolling_box li {
	padding: 0 0 0 10px;
	width: 90%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	font-family: "GeometriaRegular";
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
}

.scrolling_box li.active {
	font-family: "GeometriaMedium";
	background: #FFF100;
}

.list_of_rout_points .close-route, .list_of_free_route .close-route {
	background: none;
    margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
	border: none;
	cursor: pointer;
	outline: none;
	width: 7px;
    height: 7px;
    background: url(/icons/select_cross.png) center no-repeat;
}

.list_of_free_route .close-route {
    margin-top: 8px;
}

.delete-flight_time {
	float: left;
    margin: 35px 0 0 0;
    display: inline-block;
    vertical-align: middle;
	border: none;
	cursor: pointer;
	outline: none;
	width: 7px;
    height: 7px;
    background: url(/icons/select_cross.png) center no-repeat;
}

.section.list_of_cities .column:nth-child(8) {
    width: 20px;
}

.column.move_icon {
    width: 16px !important;
    height: 16px;
    margin-top: 3px !important;
    opacity: 0.3;
    cursor: pointer;
    background: url(/icons/move_icon.png) center no-repeat;
}

.column.move_icon:hover{
    opacity: 1;
}

.manual_alerts_block {
    margin-top: 25px;
}
.manual_alerts_block p {
    margin: 15px 0 5px; 
}

.manual_alerts_block div:nth-child(1), .manual_alerts_block div:nth-child(4) {
    display: inline-block; 
    vertical-align: top; 
    width: 20px;
    padding-top: 30px; 
    text-align: center;
}

.manual_alerts_block div:nth-child(3) {
    width: 48px; 
    display: inline-block; 
    vertical-align: top; 
    padding: 32px 0 0 12px; 
    text-align: center;
}
.manual_alerts_block div:nth-child(2), .manual_alerts_block div:nth-child(5) {
    width: 180px; 
    display: inline-block;
}

.manual_alerts_block div:nth-child(6){
    width: 24px; 
    margin: 0 5px 0 7px; 
    display: inline-block; 
    vertical-align: top; 
}

.manual_alerts_block div:last-child{
    width: 200px; 
    display: inline-block; 
    vertical-align: top; 
    text-align: center;
}

.column .short_input{
    width: calc(50% - 2px);
    display: inline-block;
}

.row_two .jq-selectbox__select-text, .parser_two_three .column_two .jq-selectbox__select-text {
    width: 100px;
}

table.admin_fullwidth {
    width: 100%;
}

table.admin_fullwidth th {
    padding: 5px;
    text-align: center;
}

table.admin_fullwidth tbody tr:nth-child(odd){
    background-color: #f3f3f3;
}

table.admin_fullwidth td {
    padding: 5px;
    border-top: 1px solid #dcdcdc;
    text-align: center;
    vertical-align:  middle;
}

.list_of_free_route.border_top .column {
        margin: 0 8px 0 0;
        width: 145px;
}

.list_of_free_route.border_top {
    border-bottom: 1px dashed #999;
}

.add_more_button_basic {
    display: inline-block;
    margin-left: 10px;
    border-bottom: 1px dashed #AB1798;
    color: #AB1798;
    cursor: pointer;
}
.basic_routes_list {
    display: none;
}
.basic_routes_list {
    width: 550px;
}

.basic_routes_list .scrolling_box{
    width: 500px;
}


.middle_section .column{
    margin-right: 10px;
    width: 145px;
}

.deep_links .column {
    margin: 0 8px 0 0;
    width: 145px;
}

.deep_links .column:nth-child(2) {
    width: 465px;
}

.deep_links .column:nth-child(4) {
    width: 32px;
}

.manual_schedule .column:nth-child(6){
    width: 55px !important;
}

.directory_one.parser_tutu .column:nth-child(3), .directory_one.parser_tutu .column:nth-child(4){
    width: 64px;
}

.directory_one.parser_tutu .column:nth-child(5), .directory_one.parser_tutu .column:nth-child(6){
    width: 125px;
}

.directory_one.parser_tutu .column:nth-child(7){
    width: 32px;
}

.admin_redirects .column:nth-child(1), .admin_redirects .column:nth-child(2), .admin_redirects .column:nth-child(4){
    margin: 0 2px;
    width: 100px;
}

.admin_redirects .column:nth-child(3){
    margin: 0 2px;
    
}

.admin_redirects .column:nth-child(5){
    margin: 0 2px;
    width: 300px;
}
/*
.has_description {
    font-weight: normal !important;
    font-size: 12px;
    line-height: 15px;
}*/

.has_description strong {
/*    font-weight: bold !important;*/
text-decoration: underline;
}