.ico-activate {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-left {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.ico-arrow_handwritten {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-change {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-close {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-date-datepicker {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-fb-empty {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-fb {
  width: 1em;
  height: 1em;
  fill: #3b5998;
}
.ico-filter {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-footer-slide-img {
  width: 7.65em;
  height: 1em;
  fill: initial;
}
.ico-hamburger {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-logo {
  width: 5.98em;
  height: 1em;
  fill: initial;
}
.ico-mail {
  width: 1em;
  height: 1em;
  fill: #168de2;
}
.ico-main-price1 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-main-price2 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-main-price3 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-ok {
  width: 1em;
  height: 1em;
  fill: #f48420;
}
.ico-passenger {
  width: 0.37em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price1 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price2 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price3 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price4 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price5 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price6 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price7 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-pricing-price8 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-question {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-refresh {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-slide {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.ico-tick {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk-empty {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk {
  width: 1em;
  height: 1em;
  fill: #4c75a3;
}
.ico-warning {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
